body{
    background-color: black;
}
main{
    margin: auto;
  background-color: rgb(201, 0, 0);  
  max-width: 800px;
  min-width: 400px;
  height: 1000px;
}
.back > h1{
 margin-top: -8px;
 text-align: center;
 height: 300px;
 max-width: 600px;
 min-width: 400px;
 margin: auto;
 background: rgba(255, 255, 255, 0.664);
 backdrop-filter: blur( 10px)

}