@charset "UTF-8";
body{
    background-color: grey;
}
input{
    margin: auto;
    display: block;
    background-image: linear-gradient(to top, #39355a, #6C65A3);
    border-radius: 5px;
    padding: 5px 20px;
    border-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}
input:hover{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to top,#29263f, #998bff);
    border-color: white;
    border-width: 1px;
    backdrop-filter: blur( 10px );
}